# # We strongly recommend using the required_providers block to set the
# # Azure Provider source
# # Configure the Microsoft Azure Provider
# provider "azurerm" {
#   features {}
#   storage_use_azuread = true
# }

# provider "aws" {
#   region = var.aws_region
# }